name: Workflow for Codecov example-python
on: [push, pull_request]
jobs:
  run:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run tests and collect coverage
        run: pytest --cov app
      - name: Upload coverage to Codecov (arg token)
        uses: codecov/codecov-action@main
        with:
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Upload coverage to Codecov (env token)
        uses: codecov/codecov-action@main
        with:
          verbose: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      - name: Upload coverage to Codecov (no token)
        uses: codecov/codecov-action@main
        with:
          verbose: true
      - name: Upload coverage to Codecov (oidc)
        uses: codecov/codecov-action@main
        with:
          verbose: true
          use_oidc: true
